/* * {
    border: 3px solid green;
} */

body {
    display: flex;
    flex-direction: column;
    padding: 20px 20%;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.scoreBoard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px solid green;
}

.roundScore {
    text-align: center;
}

.roundChoices {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 3px solid green;
}